body {
  font-family: arial;
  margin: 0px;
}

header {
  background-color: #1c4587;
  color: white;
  padding: 10px;
}

footer {
  padding: 40px;
  background-color: #1c4587;
  position: fixed;
  bottom: 0px;
  width: 100%
}

header div {
  display: flex;
}

.header-class {
  justify-content: center;
}

.main-content {
  justify-content: center;
}

.left-content {
  width: 50%;
  margin: 0px 200px 0px 0px;
}

.lorem-header {
  border-top: 20px solid lightblue;
  margin: 40px 0px 20px 0px;
  ;
}

.lorem {
  margin: 20px;
}

.lorem p {
  margin: 0px;
  padding: 0px;
}

.right-content {
  justify-content: center;
  width: 20%;
}

.actually-image {
  background-color: #1c4587;
  color: white;
  padding: 20px;
  text-align: center;
}

.image-caption {
  /* width: 200px;
  height: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  margin: 0;
  background: white;
  resize: horizontal; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.image-text:hover {
  overflow: visible
}

.d-flex {
  display: flex;
}